@import "tailwindcss";
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
* {
  box-sizing: border-box;
}
@layer components {
  .li-btn {
    @apply border border-solid border-purple-950 bg-[#d9d9d9] text-black p-2 rounded-sm hover:bg-gray-500 hover:text-white cursor-pointer duration-300;
  }
  .icon {
  }
}
