@import "tailwindcss";
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer components {
  .task-state-btn {
    @apply text-gray-500 w-fit h-12 leading-12 px-2 rounded-sm box-border duration-300 cursor-pointer border-[0.5px] border-solid border-transparent hover:border-red-300;
  }
  .btn {
    @apply border border-gray-500 border-solid rounded-sm p-2 duration-300;
  }
}
li.active {
  color: rgb(180, 0, 0);
}